<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性：用于指定当前的映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注报的完整路径接口-->
<mapper namespace="com.cy.store.mapper.OrderMapper">
    <resultMap id="OrderVOMap" type="com.cy.store.vo.OrderVO">
        <id column="oid" property="oid"/>
        <result column="recv_name" property="recvName"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="order_time" property="orderTime"/>
        <result column="image" property="image"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="num" property="num"/>
    </resultMap>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
            uid, recv_name, recv_phone, recv_province, recv_city, recv_area, recv_address,
            total_price,status, order_time, pay_time, created_user, created_time, modified_user,
            modified_time
        ) VALUES (
            #{uid}, #{recvName}, #{recvPhone}, #{recvProvince}, #{recvCity}, #{recvArea},
            #{recvAddress}, #{totalPrice}, #{status}, #{orderTime}, #{payTime}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <insert id="insertOrderItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_item (oid, pid, title, image, price, num, created_user,
                                  created_time, modified_user, modified_time)
        VALUES (#{oid}, #{pid}, #{title}, #{image}, #{price}, #{num}, #{createdUser},
                #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <select id="findOrderByUid" resultMap="OrderVOMap">
        select od.oid,od.recv_name,od.total_price,od.status,od.order_time,
               odm.image,odm.title,odm.price,odm.num
        from t_order od
                left join t_order_item odm
                on od.oid = odm.oid
        where od.uid = #{uid}
        order by od.order_time desc;
    </select>
</mapper>